# Omit platform specific third party code
# Use cordova prepare [android|ios] to install files in the following directories
platforms/
plugins/
node_modules/

# vscode IDE
.vscode
jsconfig.json
typings/
